.headerContainer {
  background-color: black;
  height: 8%;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  color: rgb(172, 19, 19);
  justify-content: space-between;
}

.headerContainer input {
  height: 60%;
  border-radius: 30px;
  border: 0px;
  padding: 0px 15px;
  font-size: 2rem;
  transition: 0.3s;
  outline: none;
  width: 20%;
}

.headerContainer input::placeholder {
  text-align: center;
}

.headerContainer input:focus {
  border: 0px;
  background-color: rgb(56, 56, 56);
  width: 40%;
  transition: 0.3s;
}
